# Project exclude paths
/venv/
/.pytest_cache/
/src/mqtt_client/logs/
/src/mqtt_client/settings/.env
/src/mqtt_client/settings/topics.json
/src/mqtt_client/settings/ca.crt
/src/mqtt_client/settings/donoff.crt
/src/mqtt_client/settings/donoff.key
